<a href="https://colab.research.google.com/github/ftcelepcikay/algorithms-divide-conquer/blob/master/L2_W4_two_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# compute the number of target values tt in the interval [-10000,10000] (inclusive)
# such that there are distinct numbers x,y in the input file that satisfy x+y=t.
# This method utlizes dictionary (hashtable) for each t iteration. Time complexity
# is O(n*m) = O(20000*10^6).

In [2]:
def two_sum(test, sum_list):  
  total = 0
  for T in sum_list:
    #print("\nfind any x+y=", T)
    A_list = open(test+'.txt','r')
    hashmap = {}
    for x in A_list:
      x = x.split()
      if (len(x)==0): continue
      x = int(x[0])
      if (x not in hashmap):
        y = T - x
        if(x == y): continue
        hashmap[y] = x
        #print(hashmap)
      else:
        y = hashmap[x]
        #print(x," + ",y," = ", T)
        total += 1
        break
  return total

In [3]:
# test1 = [6, 7, 11, 15, 3, 6, 5, 3], sum_list = [5,11] 
sum_list = list (range(5,12))
print(two_sum("test1", sum_list))
# answer =  4

4

In [4]:
# test2 = [-3,-1,1,2,9,11,7,6,2] , sum_list = [3,10]
sum_list = list (range(3,11))
print(two_sum("test2", sum_list))
# answer = 8

8

In [5]:
# test3  , sum_list = [-10000,10000]
sum_list = list (range(-10000,10001))
print(two_sum("test3", sum_list))
# answer = 11

11

In [6]:
# test4  , sum_list = [-10000,10000]
sum_list = list (range(-10000,10001))
print(two_sum("test4", sum_list))
# answer = 35

35

In [9]:
# Finaltest  , sum_list = [-10000,10000]
sum_list = list (range(-10000,10001))
print(two_sum("prob2sum", sum_list))
# answer = 427

427