<a href="https://colab.research.google.com/github/ftcelepcikay/algorithms-divide-conquer/blob/master/W2_Number_of_Inversions_using_merge_sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def count_split_inv(B,C,n):
  D = [0]*n
  i = 0
  j = 0
  Z = 0
  lenB = len(B)
  lenC = len(C)
  for k in range(n):
    if(j==lenC):
      D[k] = B[i]
      i+=1
      continue
    if(i==lenB):
      D[k] = C[j]
      j+=1
      Z += lenB-i
      continue
    if(B[i]<C[j]):
      D[k] = B[i]
      i+=1
    elif(B[i]>C[j]):
      D[k] = C[j]
      j+=1
      Z += lenB-i
  return D,Z

In [0]:
def sort_count(A,n):
  if(n==1):
    return A, 0
  else:
    B,X = sort_count(A[:n//2],n//2)
    C,Y = sort_count(A[n//2:],n-n//2)
    D,Z = count_split_inv(B,C,n)
  return D,X+Y+Z

In [3]:
#TEST CASE - 1
A = [1,3,5,2,4,8,7,6]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)

[1, 3, 5, 2, 4, 8, 7, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
6

In [4]:
#TEST CASE - 2
A = [1,5,3,2,4]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)
#ANS - 4

[1, 5, 3, 2, 4]
[1, 2, 3, 4, 5]
4

In [5]:
#TEST CASE - 3
A= [5,4,3,2,1]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)

#ANS - 10

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
10

In [6]:
#TEST CASE - 4
A = [1,6,3,2,4,5]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)

#ANS - 5

[1, 6, 3, 2, 4, 5]
[1, 2, 3, 4, 5, 6]
5

In [7]:
#Test Case - #1 - 15 numbers
A = [ 9, 12, 3, 1, 6, 8, 2, 5, 14, 13, 11, 7, 10, 4, 0 ]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)
#Ans - 56

[9, 12, 3, 1, 6, 8, 2, 5, 14, 13, 11, 7, 10, 4, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
56

In [8]:
#Test Case - #2 - 50 numbers

A = [ 37, 7, 2, 14, 35, 47, 10, 24, 44, 17, 34, 11, 16, 48, 1, 39, 6, 33, 43, 26, 40, 4, 28, 5, 38, 41, 42, 12, 13, 21, 29, 18, 3, 19, 0, 32, 46, 27, 31, 25, 15, 36, 20, 8, 9, 49, 22, 23, 30, 45 ]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)
#Ans - 590

[37, 7, 2, 14, 35, 47, 10, 24, 44, 17, 34, 11, 16, 48, 1, 39, 6, 33, 43, 26, 40, 4, 28, 5, 38, 41, 42, 12, 13, 21, 29, 18, 3, 19, 0, 32, 46, 27, 31, 25, 15, 36, 20, 8, 9, 49, 22, 23, 30, 45]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
590

In [9]:

#Test Case - #3 - 100 numbers

A = [ 4, 80, 70, 23, 9, 60, 68, 27, 66, 78, 12, 40, 52, 53, 44, 8, 49, 28, 18, 46, 21, 39, 51, 7, 87, 99, 69, 62, 84, 6, 79, 67, 14, 98, 83, 0, 96, 5, 82, 10, 26, 48, 3, 2, 15, 92, 11, 55, 63, 97, 43, 45, 81, 42, 95, 20, 25, 74, 24, 72, 91, 35, 86, 19, 75, 58, 71, 47, 76, 59, 64, 93, 17, 50, 56, 94, 90, 89, 32, 37, 34, 65, 1, 73, 41, 36, 57, 77, 30, 22, 13, 29, 38, 16, 88, 61, 31, 85, 33, 54 ]
print(A)
A,m = sort_count(A,len(A))
print(A)
print(m)
#Ans - 2372

[4, 80, 70, 23, 9, 60, 68, 27, 66, 78, 12, 40, 52, 53, 44, 8, 49, 28, 18, 46, 21, 39, 51, 7, 87, 99, 69, 62, 84, 6, 79, 67, 14, 98, 83, 0, 96, 5, 82, 10, 26, 48, 3, 2, 15, 92, 11, 55, 63, 97, 43, 45, 81, 42, 95, 20, 25, 74, 24, 72, 91, 35, 86, 19, 75, 58, 71, 47, 76, 59, 64, 93, 17, 50, 56, 94, 90, 89, 32, 37, 34, 65, 1, 73, 41, 36, 57, 77, 30, 22, 13, 29, 38, 16, 88, 61, 31, 85, 33, 54]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
2372

In [10]:
# read file line by line
f = open("IntegerArray.txt",'r')
A = []
for line in f:
    a = int(line)  # int() removes \n
    A.append(a)
print(len(A))
print(A[:10])

100000
[54044, 14108, 79294, 29649, 25260, 60660, 2995, 53777, 49689, 9083]

In [11]:
A,m = sort_count(A,len(A))
print(A[:10])
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2407905288